{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantFormController!{% endblock %}

{% block content %}
{{ form(participantForm) }}
<button type="submit" class="btn">Register</button>
{% endblock %}
